/* SignupPage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    padding: 20px;
  }
  
  .signup-form {
    /* background: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(10px);
    border: 2px solid palevioletred;
    animation: borderAnimation 3s infinite linear;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(248, 246, 246);
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .gender-container {
    margin-bottom: 15px;
    
  }
  
  .gender-container label {
    font-weight: bold;
    
    margin-right: 20px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .signup-container {
      padding: 10px;
    }
  
    .signup-form {
      padding: 15px;
    }
  
    .signup-form h2 {
      font-size: 1.5rem;
    }
  
    .signup-form input {
      padding: 8px;
    }
  
    .signup-form button {
      padding: 8px;
      font-size: 14px;
    }
  }
  